# ---- Python ----
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.env

# ---- Node / React ----
my-app/node_modules/
my-app/dist/
my-app/build/
my-app/.env
my-app/.env.local

# ---- General ----
.vscode/
.DS_Store
Thumbs.db




*.joblib

